<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Nov 2022 - Feb 2023</h4>
                                    <h4 class="subheading">Expert lectures</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Each month we will be inviting an industry expert to share their story and answer your questions about game making.<br><br></p> 
                                    <p class="text-muted">Do you want to form your own company? Work for a AAA studio? Research games at university? We can answer your questions!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February 24th 2023</h4>
                                    <h4 class="subheading">Planning week</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The theme will be announced on 24th February. Gather your team, assign roles and use the week to brainstorm your ideas. Try out a few different prototypes!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 3-5 2023</h4>
                                    <h4 class="subheading">Build your game!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The final showdown, expand on your best idea from the planning week and build your game. You need to have something playable (and hopefully fun!) submitted by 18:00 CST on Sunday 5th March.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2023</h4>
                                    <h4 class="subheading">Judging process</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our expert panel of judges will review the submissions and decide on the winners for each age bracket.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Announce<br>
                                    the<br>
                                    winners!
                                    </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>