<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">When is this event happening?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Nov 2022 - Feb 2023</h4>
                                    <h4 class="subheading">Expert lectures</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A number of industry experts have been invited to share their story and answer your questions about game making.<br><br></p> 
                                    <p class="text-muted">Do you want to form your own company? Work for a AAA studio? Research games at university?<br><br></p>
                                    <p class="text-muted">They can answer your questions!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>20th Feb 2023 - 24th Feb 2023</h4>
                                    <h4 class="subheading">Workshop week</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We will be running online workshops to introduce a number of different tools that will help you make your games. The sessions will cover free tools for art work, sound effects, music making and more...</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>3rd Mar 2023 - 5th Mar 2023</h4>
                                    <h4 class="subheading">Build your game!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The main event! Work with your team mates to build a game that relates to the secret theme (announced on Friday 3rd March).<br><br> 
                                        <p class="text-muted">You need to have something playable (and hopefully fun!) submitted by 18:00 CST on Sunday 5th March.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>6th Mar 2023 - 10th Mar 2023</h4>
                                    <h4 class="subheading">Judging process</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our expert panel of judges will review the submissions and decide on the winners for each age bracket.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Announce<br>
                                    the<br>
                                    winners!
                                    </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>