<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Want to learn more?</h2>
                    <h3 class="section-subheading text-muted">If you want to learn more about the event speak with the game jam leader in your school</h3>

                    <table>
                        <thead>
                            <tr>
                                <td>Teacher</td>
                                <td>School</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Thomas Stewart</td>
                                <td>Dehong Shanghai International Chinese School</td>
                            </tr>
                            <tr>
                                <td>Jared Rigby</td>
                                <td>Dulwich College Beijing</td>
                            </tr>
                            <tr>
                                <td>Glory Goh</td>
                                <td>Dulwich College Suzhou</td>
                            </tr>
                            <tr>
                                <td>Adones del Socorro</td>
                                <td>Dulwich International High School Suzhou</td>
                            </tr>
                            <tr>
                                <td>Sean Dowling</td>
                                <td>Dulwich International High School Zhuhai</td>
                            </tr>
                            <tr>
                                <td>Marceline Kelder</td>
                                <td>Hochalpines Institut Ftan</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    Is your school not listed? Contact <a href="mailto:jared.rigby@dulwich.org">jared.rigby@dulwich.org</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
