  <footer class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-left">
                    <img src="img/logos/eim.svg" alt="Education in Motion logo">
                    <br>
                    <br>
                    <small class="copyright">Copyright &copy; 2022 Education in Motion</small>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>
                            <a href="#">Rules</a>
                        </li>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Prizes</a>
                        </li>
                        <li>
                            <a href="#">Code of conduct</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
