<!-- Header -->
    <header>
        <video autoplay muted loop src="/video/hero-video.mp4"></video>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Make awesome games</div>
                <div class="intro-heading">Win awesome prizes</div>
                <a target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=BJSKoXM_X06ETG0p9RJpsHk7-WjIJRdPsP64rR1mgL5UNFNYMUQ3WVlQRERVM0E0QUQzVlMwTVFOVi4u" class="page-scroll btn btn-xl">
                    Register today
                </a>
            </div>
        </div>
    </header>