<!-- Header -->
    <header>
        <video autoplay muted loop src="/video/hero-video.mp4"></video>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">3rd - 5th March 2023</div>
                <div class="intro-heading">
                    One weekend<br>
                    to make a game
                </div>
                <a target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=BJSKoXM_X06ETG0p9RJpsHk7-WjIJRdPsP64rR1mgL5UNFNYMUQ3WVlQRERVM0E0QUQzVlMwTVFOVi4u" class="page-scroll btn btn-xl">
                    Register today - closes 12th February
                </a>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div style="margin:auto;position:relative;width:fit-content;height:fit-content;">
                        <a style="position:absolute;top:20px;right:1rem;opacity:0.8;" href="https://clipchamp.com/watch/e34CrFj591V?utm_source=embed&utm_medium=embed&utm_campaign=watch">
                            <img style="height:22px;" src="https://clipchamp.com/e.svg" alt="Made with Clipchamp" />
                        </a>
                        <iframe allow="autoplay;" allowfullscreen style="border:none" src="https://clipchamp.com/watch/e34CrFj591V/embed" width="640" height="360"></iframe>
                    </div>
                    <h1>3rd March - 5th March 2023</h1>
                    <p class="large">A hackathon for building games</p>
                    <p class="large">The Dulwich Game Jam is a brand-new game-making competition open to students across all Dulwich schools.</p>
                    <p>Over the next few weeks, we have invited some amazing guest speakers to share their expertise and experiences in working within the games industry. Additionally, in collaboration with Ubisoft - one of the world's largest gaming companies - we are providing students who sign up with an online game-making workshop on the 16th of February. Moreover, participating students will also have access to a direct line of communication with Ubisoft staff for 2 weeks before the event so you can take any questions straight to the experts.</p>
                    <p>For the game jam weekend itself, work with up to 7 friends to design and create a card game, board game or video game related to a secret theme. Once submitted, your games will be judged by experts from the games industry. There are some amazing prizes up for grabs for teams who make the best games.</p>
                </div>
            </div>
        </div>
    </section>