<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="video-container">
                    <iframe allow="autoplay;" allowfullscreen style="border:none" src="https://clipchamp.com/watch/D5qkFiMGZ6k/embed" width="640" height="360"></iframe>
                </div>
                <h1>See you in 2024!</h1>
                <p class="large">Thank you to all of the teams who participated in this year's event!</p>
            </div>
        </div>
    </div>
</section>