<!-- Supports Aside -->
    <aside class="supporters bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4">
                    <p class="text-muted">Your games will be judged by experts from:</p>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="https://www.cdprojektred.com/en/">
                        <img src="img/logos/cpr.svg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="https://games.wanmei.com/en/">
                        <img src="img/logos/iggi.svg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="https://www.ubisoft.com.cn/">
                        <img src="img/logos/ubisoft.svg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="https://www.swansea.ac.uk/">
                        <img src="img/logos/uos.svg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="https://www.york.ac.uk/">
                        <img src="img/logos/uoy.svg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>