<!-- Prizes Section -->
    <section id="prizes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Prizes</h2>
                    <h3 class="section-subheading text-muted">Winning teams will receive guidance from experts, personal prizes and tech tools for your school.x</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gamepad fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mentorship</h4>
                    <p class="text-muted">Present your game to experts from industry and academia to gain feedback on how to take your game to the next level.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Swag</h4>
                    <p class="text-muted">All members of the winning team will receive new gaming keyboards, mice, headsets and the highly coveted Dulwich Game Jam trophy.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-music fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">For your school</h4>
                    <p class="text-muted">Winning teams will win a VR kit and powering gaming laptop for your game development club.</p>
                </div>
            </div>
        </div>
    </section>