<!-- Skills Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How can I get involved?</h2>
                    <h3 class="section-subheading text-muted">Find some friends and form your game making team. There are so many roles available, anyone can contribute!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gamepad fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Game design</h4>
                    <p class="text-muted">Design the rules of your game. How do you win? How do you lose? Are we playing for points or for playing for time? The choice is yours!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Artwork</h4>
                    <p class="text-muted">What will your game look like? Pixel art? Geometric shapes? Like a post-impressionism painting? You'd be in charge of the visual direction of your game.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-music fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Music and sound</h4>
                    <p class="text-muted">Sound makes your game world come to life. Provide the soundtrack and ambience for your game, what do the characters sound like? What does the world sound like?</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Coding</h4>
                    <p class="text-muted">Write the code that will drive the logic of your game. How do we control the game?</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Marketing</h4>
                    <p class="text-muted">Why should people play your game? Can you entice them with an amazing trailer for your game?</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Story</h4>
                    <p class="text-muted">Engage your players with an exciting storyline. Who are the characters in your game? What motivates them?</p>
                </div>
            </div>
        </div>
    </section>